<div class="burger-menu" id="burger-menu" aria-hidden="true" data-burger-menu>
  <div class="burger-menu__liquid" aria-hidden="true"></div>
  <div class="burger-menu__dry" aria-hidden="true"></div>
  <nav class="burger-menu__nav" aria-label="Меню сайту">
    <ul class="burger-menu__list">
      <li class="burger-menu__item"><a class="burger-menu__link" href="#hero">Головна</a></li>
      <li class="burger-menu__item"><a class="burger-menu__link" href="#about">Про компанію</a></li>
      <li class="burger-menu__item"><a class="burger-menu__link" href="#marinades">Наші маринади</a></li>
      <li class="burger-menu__item"><a class="burger-menu__link" href="#catalog">Каталог</a></li>
      <li class="burger-menu__item"><a class="burger-menu__link" href="#benefits">Чому обирають SpiceLand</a></li>
      <li class="burger-menu__item"><a class="burger-menu__link" href="#contacts">Контакти</a></li>
    </ul>
  </nav>
</div>

